rembg[gpu,cli]
onnxruntime-gpu==1.15
gradio==3.41.0
opencv-python
requests
#PIL
Pillow
accelerate
urllib3==1.25.11
xformers==0.0.20
torch==2.0.1+cu118
torchvision==0.15.2+cu118
#torchvision==0.15.2+cu118 -f https://download.pytorch.org/whl/cu118/torch_stable.html
controlnet_aux==0.0.7
basicsr==1.4.2
diffusers==0.25.0 #0.25.0 add ip-adapter
transformers==4.30.2 #4.27.4
pydantic==1.10.13
inflection==0.5.1
python_json_logger
fairscale==0.4.4
loguru==0.7.2
boto3
wget
git+https://github.com/openai/CLIP.git
#pip install git+https://github.com/openai/CLIP.git
#pip install ftfy regex tqdm




# modelscope==1.10.0
# urllib3==1.26.11
# transformers==4.34.1
# huggingface-hub==0.19.4